.articles-list {
  margin: 0;
  padding: 0;
  /* background-color: blue; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  text-transform: capitalize;
  /* align-items: stretch; */
  /* margin: auto; */
  font-size: 1em !important;
  /* line-height: 1.6em !important; */
}

.articles-list li {
  /* display: flex;
  flex-wrap: wrap; */
}

.articles-list li a {
  /* display: flex;
  flex-wrap: wrap; */
  /* padding: 10px; */
  /* margin: 10px; */
  /* text-decoration: none; */
}

.articles-list li a:hover {
  /*
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
   */
}

.articles-list li *:nth-child(2) {
  margin-left: 20px;
  /* display: flex; */
}
/*
.articles-by-year a {
  margin-left: 50px;
} */

.articles-list-item {
  display: flex;
  margin-top: 5px;
  /* min-width: 100px; */
}
.articles-list-item time {
  /* display: flex; */
  min-width: 100px;
}

figure {
  margin: 0 auto;
}
.img-responsive {
  width: 100%;
  height: auto;
}
/* max-width: 700px; */

.arty-blog-post-img-caption {
  color: #aaaaaa;
  font-size: 0.5rem;
}
