# 200524 Arty Stable Draconian `.gitignore` File Configurations

## **IGNORE** All Files Or Directories Listed Immediately Below

### **Files to ignore:**

# The below line is responsible for enforcing that files/directories are untracked by default.
*

### **Directories to ignore:**

### The above wildcard ("*") pattern applies the default ignore rule to files and directories alike.

#---

## **TRACK** All Files Or Directories Listed Immediately Below

### An Alternative way to look at this is: Do **NOT** Ignore (i.e. TRACK!) Files Or Directories Listed Immediately Below

### **Files to track:**

# Thie below line is for guidance only. Remove as desired.
#!tracked-file-example.env

!.gitignore
!index.html
!README.md
!script.js
!style.css

### **Directories to track:**

# Thie below line is for guidance only. Remove as desired.
#!*/tracked-directory-example/

!/blog/*
!/css/*
!/js/*
!/page/*
!/pic/*
!/tool/*


#---

## Resources

### `.gitignore` https://www.atlassian.com/git/tutorials/saving-changes/gitignore

### https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files

### https://stackoverflow.com/questions/11451535/gitignore-is-ignored-by-git

## Notes

### `.gitignore` files are particularly strict concerning leadng and trailing spaces. Always check if your rule has any undesired spaces.

#---
